html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  font-size: 14px;
  margin: 0px auto 20px auto;
  padding: 25px;
  width: 40%;
}

p{
  text-align: center;
  margin: 8px 0;
  font-size: 18px;
}

.single-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  border-radius: 8px;
  background: #000 !important;
  margin-bottom: 3px;
}

.message-text {
  width: 50%;
  padding-left: 15px;
  vertical-align: middle;
  color: #FFF;
}

.message-cookie {
  width: 40%;
  font-size: 14px;
  color: #FFF;
}

.message-time {
  width: 10%;
  font-size: 14px;
  vertical-align: middle;
  text-align: right;
  padding-right: 15px;
  color: #FFF;
}

.ng-scope { background: #efefef;}
